.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
}
.singleQuestion {
  width: 95%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 10px;
}

.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.singleOption {
  width: 46%;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  border: none;
  border-radius: 9px;
}

.hoverOption button:hover {
  cursor: pointer;
  background-color:#3f51b5;
  color: white;
  box-shadow: 0 0 1px black;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.correct {
  background-color: rgb(7, 207, 0);
  color: white;
  box-shadow: 0 0 1px black;
}

.wrong {
  background-color: rgb(233, 0, 0);
  color: white;
  box-shadow: 0 0 1px black;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.2rem;
  }
  .singleOption {
    width: 100%;
  }
}
