.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90w;
  height: 80vh;
  margin: 2rem;
}
.home-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50w;
  height: 80vh;
  margin: 2rem;
}

.home-image {
  width: 50w;
  height: 80vh;
  margin: 2rem;
}
.home-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
  }
}
